<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.octest.servlets.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.octest.servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Form</servlet-name>
    <servlet-class>com.octest.servlets.Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FileForm</servlet-name>
    <servlet-class>com.octest.servlets.FileForm</servlet-class>
    <multipart-config>
            <location>C:/Users/burg_c/Documents/octest_files_tmp/</location>
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileForm</servlet-name>
    <url-pattern>/fileForm</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Session</servlet-name>
    <servlet-class>com.octest.servlets.Session</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Cookie</servlet-name>
    <servlet-class>com.octest.servlets.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cookie</servlet-name>
    <url-pattern>/cookie</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Sql</servlet-name>
    <servlet-class>com.octest.servlets.SqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sql</servlet-name>
    <url-pattern>/sql</url-pattern>
  </servlet-mapping>
  
  <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>